.row {
  width: 100%;
  margin-right: auto !important;
  margin-left: auto !important;
}

.list-group {
  background-image: url("https://images.pexels.com/photos/1601775/pexels-photo-1601775.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: repeat-y !important;
  background-size: 100% 100% !important;
  background-attachment: fixed !important;
}

.list-overflow-container {
    max-height: 545px;
    border: 1px #DDDDDD solid;
    border-radius: 4px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .list-overflow-container ul {
    margin: 0;
  }
  
  .list-overflow-container li {
    border-radius: 0px;
    border-left: none;
    border-right: none;
  }
  
  .list-overflow-container li * {
    cursor: pointer;
  }
  
  .list-overflow-container li a {
    color: #2A878C;
  }
  
  .list-overflow-container li:first-child {
    border-top: none;
  }
  
  .list-overflow-container li:last-child {
    border-bottom: none;
  }

  .list-group-item {
    background-color: black;
    /* background-image: linear-gradient(rgba(27, 27, 27, 0.884), rgba(27, 27, 27, 0.884)), url("https://images.pexels.com/photos/1601775/pexels-photo-1601775.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    background-attachment: fixed !important; */
    margin-left: 5em;
    margin-right: 5em;
  }

  a {
    text-transform: uppercase;
  }

  img {
    margin-right: 1em;
    margin-bottom: 1em;
    border-radius: 25px;
  }

@media screen and (max-width: 960px) {
  .list-group {
    margin: auto;
    margin-top: 12em;
  }
}

@media screen and (max-width: 640px) {
  .list-group {
    margin: auto;
    margin-top: 15em;
  }
}
@media screen and (max-width: 400px) {
  .list-group {
    width: 90% !important;
    margin: auto;
    margin-top: 20em;
  }
  img {
    margin-bottom: 1em;
    margin-left: 1.3em !important;
    margin-right: auto !important;
  }
}