body {
  overflow-x: hidden;
}

.row {
  margin-top: 5em;
}

/* Fonts */
@font-face {
    font-family: "Roboto Mono", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    src: url('/client/src/fonts/Roboto');
}

@font-face {
    font-family: "VT323", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    src: url('/client/src/fonts/VT323');
}

/* Start of Text */
h1 {
    font-family: "VT323"; 
    overflow: hidden; 
    white-space: nowrap; 
    font-size: 5em;
    padding-top: 2em !important;
    width: 11em;
    margin-left: -1em !important;
    letter-spacing: .15em;
    text-shadow: black 0em 0em .5em !important;
      /* Animation */
      -webkit-animation: type 4s steps(40, end);
      animation: type 4s steps(40, end);
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
  }

h4 {
  color: white;
  font-family: "VT323"; 
  white-space: nowrap; 
  margin-bottom: 1em !important;
  margin: 0 auto; 
  letter-spacing: .15em;
  font-size: 3em !important;
  text-shadow: black 0em 0em .5em !important;
  border-bottom: .01em solid white;
  padding-left: 3em;
  padding-right: 3em;
}

h5 {
  font-size: 1em;
  color: white;
  text-align: justify;
  font-family: "Roboto Mono";
  margin-top: .5em !important;
  margin-right: 40em;
  margin-left: 3.5em;
}

.text-center {
  color: white;
  margin-bottom: 1.5em;
}

/* The typewriter cursor effect */
@keyframes type {
    0% {
      width: 0;
    }
    110% {
      border: none;
    }
  }
  
@-webkit-keyframes type {
    0% {
      width: 0;
    }
    110% {
      border: none;
    }
}
/* End of Text */

/* About Page */
.ch-grid {
  padding: 0;
  list-style: none;
  display: block;
  text-align: center;
  width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 220px;
	height: 220px;
	display: inline-block;
	margin: 20px;
}

.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
  position: relative;
  cursor: default;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.ch-info-wrap {
	position: absolute;
	width: 180px;
	height: 180px;
	border-radius: 50%;
	perspective: 800px;
	top: 20px;
	left: 20px;
	background: white;
	box-shadow: 
		0 0 0 20px rgba(255,255,255,0.2), 
    inset 0 0 3px rgba(115,114, 23, 0.8);
  transition: all 0.4s ease-in-out;
}

.ch-info {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	transition: all 0.4s ease-in-out;
	transform-style: preserve-3d;
}

.ch-info > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-position: center center;
	backface-visibility: hidden;
}

.ch-info .ch-info-back {
	transform: rotate3d(0,1,0,180deg);
	background: #000;
}

.ch-img-1 { 
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/intermediary/f/921941b8-b0e6-4a14-8f00-7dd21ce7bceb/d565ipt-b9c1b910-3200-481f-a8f0-ebdd397a320a.jpg");
  background-size: 100%;
}

.ch-img-2 { 
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/intermediary/f/921941b8-b0e6-4a14-8f00-7dd21ce7bceb/d54ekfe-674e564f-815b-484d-9cec-81043d76f58e.jpg");
  background-size: 100%;
}

.ch-img-3 { 
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/intermediary/f/921941b8-b0e6-4a14-8f00-7dd21ce7bceb/d4wxjt8-326847eb-fff2-4966-a9aa-1990633d767f.jpg");
  background-size: 100%;
}

.ch-img-4 { 
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/intermediary/f/921941b8-b0e6-4a14-8f00-7dd21ce7bceb/d5wnqm5-405aadbb-d7e2-4b50-88e5-0abdf2cce826.jpg");
  background-size: 100%;
}

.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 14px;
  margin: 0 15px;
  margin-bottom: -1em;
	padding: 40px 0 0 0;
	height: 90px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
	color: #fff;
  padding: 10px 5px;
  text-align: center;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-info p a {
	display: block;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
	color: rgba(255,242,34, 0.8);
}

.ch-item:hover .ch-info-wrap {
	box-shadow: 
		0 0 0 0 rgba(255,255,255,0.8), 
		inset 0 0 3px rgba(115,114, 23, 0.8);
}

.ch-item:hover .ch-info {
	transform: rotate3d(0,1,0,-180deg);
}
/* End of About Page */

/* Buttons */
.btn-danger, .btn-primary {
  font-size: .25em;
  font-family: "Roboto Mono";
  margin-left: .5em;
  padding: 1em;
}

#save {
  float: right;
  padding: 1.5em;
  font-size: .75em;
}

#learn {
  float: left;
  font-size: .75em;
  margin-top: 1.5em;
  margin-left: 4.5em;
}

.btn-danger:hover, .btn-primary:hover {
  box-shadow: 0 0 10px 0 white inset, 0 0 10px 4px white;
}

/* .list-overflow-container {
  border: none !important;
} */

.list-group-item {
  margin-bottom: 3em;
  border: .1em white solid;
  border-radius: 2em !important;
  background-color: black;
  box-shadow: 1em 1em 1em 0em rgb(26, 26, 26);
}

p {
  color: white;
  text-align: justify;
  font-family: "Roboto Mono";
}

@media screen and (max-width: 960px) {
  h2 {
    margin-left: -1em;
    margin-right: auto !important;
    font-size: 3em;
  }
}

@media screen and (max-width: 640px) {
  h2 {
    margin-left: -1.9em;
    margin-right: auto !important;
    font-size: 2.5em;
  }
}

@media screen and (max-width: 400px) {
  h1, h2 {
    margin: 0 auto !important; 
  }
  h1 {
    width: 8em;
    font-size: 2.75em !important;
  }
  h2 {
    font-size: 1em !important;
  }
  h4 {
    font-size: 2.5em !important;
  }
}

#calendar {
  margin-top: 3em;
  margin-bottom: 10em;
}

.react-calendar {
  margin: 0em auto;
  width: 90% !important;
  height: 125% !important;
  background-image: linear-gradient(rgba(255, 255, 255, 0.884), rgba(255, 255, 255, 0.884)), url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/intermediary/f/921941b8-b0e6-4a14-8f00-7dd21ce7bceb/d5pk8zc-c8564513-1c53-48be-b619-e00946478a8d.jpg") !important;
  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
  background-attachment: fixed !important;
}

.react-calendar button {
  padding: 2.5em;
  background: transparent;
}

/* .react-calendar__tile--active {
} */

.react-calendar__navigation {
  margin-bottom: 3em !important;
}

.react-calendar__navigation button:hover, button:hover {
  background: rgb(0, 195, 255) !important;
  opacity: .5;
}

/* .react-calendar__tile--active {
  color: rgb(168, 0, 84) !important;
} */

.abbr[data-original-title], abbr[title] {
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 960px) {
  #calendar {
    margin: auto;
  }
  .article {
    height: 32em !important;
  }
}

@media screen and (max-width: 780px) {
  #calendar {
    margin: auto;
  }
  .article {
    height: 32em !important;
  }
}

@media screen and (max-width: 700px) {
  #calendar {
    margin: auto;
  }
  .article {
    height: 36em !important;
  }
}

@media screen and (max-width: 400px) {
  #calendar {
    width: 90%;
    margin: auto;
  }
  .react-calendar__navigation {
    width: 50%;
  }
  .article {
    height: 51em !important;
  }
}