#calendar {
  margin-top: 3em;
  margin-bottom: 10em;
}

.react-calendar {
  width: 100% !important;
  height: 125% !important;
}

.react-calendar button {
  padding: 2.5em;
}

/* .react-calendar__tile--active {
} */

.react-calendar__navigation {
  margin-bottom: 3em !important;
}

.abbr[data-original-title], abbr[title] {
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 960px) {
  #calendar {
    margin: auto;
  }
  .article {
    height: 32em !important;
  }
}

@media screen and (max-width: 780px) {
  #calendar {
    margin: auto;
  }
  .article {
    height: 32em !important;
  }
}

@media screen and (max-width: 700px) {
  #calendar {
    margin: auto;
  }
  .article {
    height: 36em !important;
  }
}

@media screen and (max-width: 400px) {
  #calendar {
    width: 90%;
    margin: auto;
  }
  .react-calendar__navigation {
    width: 50%;
  }
  .article {
    height: 51em !important;
  }
}